@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Lobster&family=Manrope&family=Poppins&display=swap');
/* 
font-family: 'Inter', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif; */


/* *? Reuse Able section style start  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.reuseable {
    text-align: center;
    padding: 130px 0 50px 0;
}

.reuseable h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;
}

.reuseable p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
    padding: 20px 375px 0 375px;

}


/* <section class="reuseable">
<h2>Donate Today</h2>
<p>Lorem ipsum dolor sit amet, usu cu esse possit referrentur, at eam falli <br> deterruisset. No duo populo animal noluisse, enim</p>
</section> */

/* *? Reuse Able section style End */


/* *? Header section style Start */
header {
    background-image: url(../images/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    padding: 300px 307px;
    text-align: center;
    height: 870px;
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
}

.heading-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    color: #FFFFFF;
}

.heading-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 25PX 0 35PX 0;
}

.reuse-btn-one {
    padding: 16px 12px;
    border-style: none;
    background: #FF5959;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

/* *? Header  section style End */

/* *? Donate Today section style Start */
.donate-today {
    padding: 0 338px 0 338px;
    text-align: center;
}

.taka-items {
    padding-bottom: 60px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.taka-item {
    padding: 44px 25px;
    background: #FAFAFA;
    border-radius: 5px;
    border-style: none;
    outline: none;
    transition: 0.1s;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #707070;
    /* transition: all 0.5s ease; */
}

.taka-item:hover {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    color: #FF5959;
}

.our-am {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #B3B3B3;
}

.line {
    /* text-align: center; */
    margin: 10px 338px 30px 338px;
    /* width: 765px; */
    border: 1px solid #DADADA;
}

/* *? Donate Today section style End */

/* *? Donate Today section style Start */


/* *? Our Donate Plan section style Start */
.our-donate-plan {
    padding: 0 158px 130px 158px;
}

.donate-plan-items {
    display: flex;
    justify-content: space-evenly;

}

.donate-plan-items div:nth-child(1) {
    background: rgba(79, 157, 166, 0.1);
}

.donate-plan-items div:nth-child(2) {
    background: rgba(255, 89, 89, 0.1);
}

.donate-plan-items div:nth-child(3) {
    background: #FFF4D6;
}

.donate-plan-item {

    padding: 63px 22px 54px 22px;
    border-radius: 5px;
}

.donate-plan-item h2 {
    padding: 31px 0 16px 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #121212;
}

.donate-plan-item p {
    width: 315px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #707070;
}

/* *? Our Donate Plan section style end */


/* *? Their lives depend on your donation section style Start*/
.lives-depend {
    margin: 0 268px 100px 200px;
    display: flex;
    justify-content: space-evenly;
}



.lives-depend-description h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;
    padding-bottom: 10px;
    padding: 10px 94px 30px 157px;
}

.lives-depend-description p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding: 10px 94px 30px 157px;
    color: #707070;
}

.reuseable-tow {
    margin-left: 160px;
    border-style: none;
    padding: 16px 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    background: #FF5959;
    border-radius: 5px;
    color: #FFFFFF;
}


/* *? Their lives depend on your donation  section style end */


/* *? They need us to suvive  section style end */
.they-need-us{
    margin: 100px 268px 100px 200px;
    display: flex;
    justify-content: space-evenly;
}



.they-need-us-description h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;
    padding-bottom: 10px;
    padding: 10px 94px 30px 157px;
}

.they-need-us-description p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding: 10px 94px 30px 157px;
    color: #707070;
}


/* *? They need us to suvive  section style end */